<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css"/>
    <title>ShamVid</title>
</head>
<body>
    <div class="header">
        <button>Login</button>
        <img class="banner" src="/banner.jpg">
        <a href="/upload">
            <button>
                Upload
            </button>
        </a>
    </div>
    <div class="container">
        <% for(video of videos) { %>
            <a href="/play/<%= video.name %>">
                <div class="vid">
                    <img class="thumb" src="<%= video.thumbnail %>"/>
                    <h2><%= video.name.split('.')[0] %></h2>
                </div>
            </a>
        <% } %>
    </div>
</body>
</html>